<a href="https://colab.research.google.com/github/kdwang1808/2020-MCM/blob/master/Para_search.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.datasets import load_iris
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

iris = load_iris()
X_train,X_test,y_train,y_test = train_test_split(iris.data,iris.target,random_state=0)
print("Size of training set:{} size of testing set:{}".format(X_train.shape[0],X_test.shape[0]))

####   grid search start
best_score = 0
for gamma in [0.001,0.01,0.1,1,10,100]:
    for C in [0.001,0.01,0.1,1,10,100]:
        svm = SVC(gamma=gamma,C=C)#对于每种参数可能的组合，进行一次训练；
        svm.fit(X_train,y_train)
        score = svm.score(X_test,y_test)
        if score > best_score:#找到表现最好的参数
            best_score = score
            best_parameters = {'gamma':gamma,'C':C}
####   grid search end

print("Best score:{:.2f}".format(best_score))
print("Best parameters:{}".format(best_parameters))

Size of training set:112 size of testing set:38
Best score:0.97
Best parameters:{'gamma': 0.001, 'C': 100}

In [2]:
!apt-get install -y -qq software-properties-common python-software-properties module-init-tools
!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
!apt-get update -qq 2>&1 > /dev/null
!apt-get -y install -qq google-drive-ocamlfuse fuse
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
creds = GoogleCredentials.get_application_default()
import getpass
!google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL
vcode = getpass.getpass()
!echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}

E: Package 'python-software-properties' has no installation candidate
Selecting previously unselected package google-drive-ocamlfuse.
(Reading database ... 134448 files and directories currently installed.)
Preparing to unpack .../google-drive-ocamlfuse_0.7.17-0ubuntu2~ubuntu18.04.1_amd64.deb ...
Unpacking google-drive-ocamlfuse (0.7.17-0ubuntu2~ubuntu18.04.1) ...
Setting up google-drive-ocamlfuse (0.7.17-0ubuntu2~ubuntu18.04.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
··········
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
Please enter the verification code: Access token retrieved correctly.

In [0]:
!mkdir -p drive
!google-drive-ocamlfuse drive
import os
import sys
os.chdir('drive/Colab Notebooks/2020MCM_PC')

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [0]:
hair = pd.read_csv('hair_clean.csv')
micro = pd.read_csv('micro_clean.csv')
baby = pd.read_csv('baby_clean.csv')

In [76]:
hair.tail()

        yy  mm  ...  total_votes                                              clean
9696  2015   8  ...            0                      five stars styling hair style
9697  2015   8  ...            0                         five stars excellent dryer
9698  2015   8  ...            1  everything okay found everything goes well exc...
9699  2015   8  ...            0                                 five stars perfect
9700  2015   8  ...            1  nice hairdryer works well really like hairdrye...

[5 rows x 8 columns]

In [77]:
hair_maxvote = pd.DataFrame(hair.groupby('product_parent')['total_votes'].max())
hair_maxvote['product_parent'] = hair_maxvote.index
hair_maxvote.index.name = None
hair_maxvote.rename(columns={'total_votes':'max_votes'}, inplace = True)
hair = pd.merge(hair, hair_maxvote, on='product_parent')
hair["score_weight"] = (hair["helpful_votes"]+1)/(1+(hair["max_votes"]))
hair.head(8)

     yy  mm  ...  max_votes  score_weight
0  2008   1  ...          8      0.888889
1  2008   7  ...          8      0.777778
2  2008   8  ...          8      0.222222
3  2009   8  ...          8      0.111111
4  2010   2  ...          8      0.111111
5  2010  10  ...          8      0.222222
6  2011   4  ...          8      0.222222
7  2011   4  ...          8      0.111111

[8 rows x 10 columns]

In [78]:
micro_maxvote = pd.DataFrame(micro.groupby('product_parent')['total_votes'].max())
micro_maxvote['product_parent'] = micro_maxvote.index
micro_maxvote.index.name = None
micro_maxvote.rename(columns={'total_votes':'max_votes'}, inplace = True)
micro = pd.merge(micro, micro_maxvote, on='product_parent')
micro["score_weight"] = (micro["helpful_votes"]+1)/(1+(micro["max_votes"]))
micro.head(8)

     yy  mm  ...  max_votes  score_weight
0  2008   2  ...          8      0.888889
1  2010   8  ...          8      0.666667
2  2010  12  ...          8      0.111111
3  2012   6  ...          8      0.333333
4  2012   8  ...          8      0.333333
5  2012  12  ...          8      0.777778
6  2013   3  ...          8      0.444444
7  2013   7  ...          8      0.333333

[8 rows x 10 columns]

In [79]:
baby_maxvote = pd.DataFrame(baby.groupby('product_parent')['total_votes'].max())
baby_maxvote['product_parent'] = baby_maxvote.index
baby_maxvote.index.name = None
baby_maxvote.rename(columns={'total_votes':'max_votes'}, inplace = True)
baby = pd.merge(baby, baby_maxvote, on='product_parent')
baby["score_weight"] = (baby["helpful_votes"]+1)/(1+(baby["max_votes"]))
baby.head(8)

     yy  mm  ...  max_votes  score_weight
0  2008   2  ...          5      0.333333
1  2008   9  ...          5      0.500000
2  2009   2  ...          5      0.333333
3  2009   2  ...          5      0.166667
4  2009  10  ...          5      0.333333
5  2010   8  ...          5      0.166667
6  2011   6  ...          5      0.333333
7  2011   6  ...          5      0.166667

[8 rows x 10 columns]

In [0]:
hair_weiscore = hair.groupby("product_parent").apply(weimean, 'star_rating', 'score_weight')
hair_weiscore = pd.DataFrame({'hairparent':hair_weiscore.index,'mean_score':hair_weiscore.values})
micro_weiscore = micro.groupby("product_parent").apply(weimean, 'star_rating', 'score_weight')
micro_weiscore = pd.DataFrame({'hairparent':micro_weiscore.index,'mean_score':micro_weiscore.values})
baby_weiscore = baby.groupby("product_parent").apply(weimean, 'star_rating', 'score_weight')
baby_weiscore = pd.DataFrame({'babyparent':baby_weiscore.index,'mean_score':baby_weiscore.values})

In [29]:
micro_weiscore

    hairparent  mean_score
0            0    3.375510
1            1    1.000000
2            2    5.000000
3            3    2.538462
4            4    3.875000
5            5    4.265625
6            6    4.096774
7            7    3.062500
8            8    3.701422
9            9    4.312500
10          10    4.250000
11          11    4.000000
12          12    3.000000
13          13    4.147583
14          14    4.000000
15          15    4.272727
16          16    3.000000
17          17    3.684564
18          18    1.000000
19          19    4.711217
20          20    3.000000
21          21    2.565217
22          22    4.000000
23          23    2.311111
24          24    2.085890
25          25    4.352941
26          26    3.840000
27          27    5.000000
28          28    5.000000
29          29    4.000000
30          30    4.443038
31          31    3.226415
32          32    4.411765
33          33    4.593750
34          34    4.000000
35          35    4.083784
36          36    5.000000
37          37    4.000000
38          38    4.377358
39          39    4.507692
40          40    4.315789
41          41    4.000000
42          42    4.594595
43          43    2.458333
44          44    2.625000
45          45    4.892857
46          46    3.658537
47          47    3.285714

In [35]:
hair.groupby("product_parent").apply(lambda x: np.average(x['star_rating'].as_matrix()), weights = x['score_weight'].as_matrix()))

SyntaxError: ignored

In [37]:
np.average(hair['star_rating'], weights = hair['score_weight'])

4.073754748388749